.companions-index {
  padding-top: 68px;
  padding-bottom: 31px;
  background-color: @background-blue;
  color: @basic-white;
  border-radius: 0 0 25px 25px;
}

.companions-index__header {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @special-orange;
}

.companions-index__text {
  &--bold {
    font-weight: 700;
    margin-bottom: 58px;
  }
}

.companions-index__link {
  display: block;
  margin-top: 25px;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 23px;
  min-width: 247px;
  border-radius: 10px;

  .button-yellow();
}
