.cover-contacts__item {
  border-radius: 50%;

  &--phone {
    background-color: @special-orange;
  }

  &--mail {
    background-color: @special-yellow-dark;
  }
}

.cover-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
