.destinations {
  margin: 0;
  padding-top: 71px;
  padding-bottom: 34px;
  background-color: @background-blue-light;
  color: @special-grey;
  border-radius: 25px;
}

.destinations__header {
  margin: 0;
  padding-bottom: 19px;
  padding-left: 25px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @special-orange;
}

.destinations__text {
  margin: 0;
  padding-bottom: 60px;
  padding-left: 25px;
}

.destinations__link {
  display: block;
  margin-top: 25px;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 23px;
  min-width: 247px;
  border-radius: 10px;

  .button-yellow();
}
