.index-cover {
  margin: 0;
  background-color: @basic-blue;
  color: @basic-white;

  .help-outline(@red);
}

.index-cover__author {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue;
  background-color: @basic-yellow;
}
