.registration {
  padding-top: 72px;
  color: @basic-white;
  background-color: @background-blue;
}

.registration__header {
  margin: 0;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @special-orange;
}

.registration__text {
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
}

.registration__link {
  color: @basic-yellow;
  text-decoration: underline;
}

.registration__form {
  position: relative;
}

.registration__form input {
  width: 220px;
  height: 60px;
  border: none;
  border-radius: 5px;
}

.registration__form button {
  position: absolute;
  right: 5px;
  width: 60px;
  height: 62px;
  border: none;
  border-radius: 5px;
  background-color: @basic-yellow;
}
